<div class="flexbox-parent">
    <div class="flexbox-item header">
        Header
    </div>
    <div><app-nav></app-nav></div>
    <div class="flexbox-item fill-area content flexbox-item-grow">
        <div class="fill-area-content flexbox-item-grow">
            Content 
            <br /><br />
            Emulates height 100% with a horizontal flexbox with stretch
            <br /><br />      
            This box with a border should fill the blue area except for the padding (just to show the middle flexbox item).
        </div>
    </div>
    
    <div class="flexbox-item footer">
        Footer
    </div>
</div>