<div id="wrapper">
  <div class="header">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>

  <div><app-nav></app-nav></div>
  <!-- <div>
    <h2>Here are some divnks to help you start: </h2>
  </div> -->
  <div class="list">
    <div class="item1">
      <h2>
        <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
      </h2>
      <div class="hero">
        <div>Peter parker</div>
        <div>Bruce Wayne</div>
        <div>Clark Kent</div>
      </div>
    </div>
    <div class="item2">
      <h2>
        <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cdiv/wiki">Cli Documentation</a>
      </h2>
    </div>
    <div class="item3">
      <h2>
        <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
      </h2>
    </div>
  </div>

  <div class="footer">
    <h3>FOOTER</h3>
  </div>

</div>